<div id="cart">
  <%= button_to "Clear cart", {action: "clear_cart", controller: "cart"}, method: "delete"%>
  <h3>Your cart: </h3>
  <% @cart_books.each do |book|%>
    <li>
      <%= book.title %>
    </li>
    <%= button_to "Remove", {action: "remove_from_cart", controller: "cart", id: book.id}, method: "delete"%> 
  <% end %>
</div> 

<div id="books">
  <% @books.each do |book|%>
    <div>
      <h3><%= link_to book.title, book %></h3>
      <h4>By: <%= book.author %></h4>
      <%= button_to "Add to cart", {action: "add_to_cart", controller: "cart", id: book.id}%>
    </div>
  <% end %>
</div>